@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Great+Vibes&display=swap');
.Navbar{
    display: flex;
    flex-direction: row;
    
}
.navbar-unorder-list{
    display: flex;
    flex-direction: row;
    margin: 4px 0px 5px 630px;
}
li{
    list-style-type: none;
    padding: 13px;
    font-size: 13px;
    color: rgb(200, 221, 239);
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    text-decoration: none;
    color: chartreuse;
}
.Headline{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-size: 20px;
    color: aliceblue;
    font-style: normal;
    margin-left: 30px;
}
@media screen and (max-width:768px) {
    .Headline{
        font-size: 4px;
    }
    .navbar-unorder-list{
        display: flex;
        flex-direction: column;
        margin: 4px 0px 5px 30px;
    }
}